/* PRODUITS */

.un {
  display: flex;
  justify-content: center;
}

.un span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  text-shadow: #00000078 3px 2px 3px;
}

.deuxAUn {
  display: flex;
  justify-content: center;
  background: #E8A3C0;
}

.deuxAUn span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.deuxADeux {
  display: flex;
  justify-content: center;
  background: #8CEFCA;
}

.deuxADeux span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.deuxBUn {
  display: flex;
  justify-content: center;
  background: #8DDDF6;
}

.deuxBUn span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.deuxBDeux {
  display: flex;
  justify-content: center;
  background: #F75857;
}

.deuxBDeux span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.trois {
  display: flex;
  justify-content: center;
  background: #F6A54C;
}

.trois span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  text-shadow: #00000078 3px 2px 3px;
}

.label-icon {
  vertical-align: bottom;
  color: #4ba593 !important;
  padding-right: 5px;
}

.btn-add {
  height: 45px;
  background-color: #4ba593 !important;
}

.btn-add:hover {
  background: #4ba593 !important;
}

.remove-icon {
  color: #d84949 !important;
}

li.see-more a span {
  text-align: center;
  width: 100%;
  margin: 0 !important;
  color: #009688 !important;
}

li.see-more a:before {
  display: none;
}

li.see-more a:after {
  display: none;
}

li.see-more ul li a {
  padding-left: 25px !important;
}

li.see-more ul li a span {
  text-align: inherit;
  font-weight: bold !important;
  color: inherit !important;
}

.video-home {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 300px !important;
  padding-bottom: 10px;
}

.video-home iframe {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.video-home:hover {
  -webkit-filter: none;
          filter: none;
}

.video-home:hover iframe {
  -webkit-filter: none;
          filter: none;
}

video.video-stream.html5-main-video {
  width: 100% !important;
  height: auto !important;
  left: 0 !important;
}

.title-client {
  padding-top: 15px;
  font-weight: bold;
  font-size: 25px;
}

.custom-footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #1a3a35;;
}

.actual-label {
  padding: 8px;
  margin-top: 1px;
}

