.container-prints {
  display: flex;
}

.container-prints .print-method {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 190px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.container-prints .print-method + .print-method {
  margin-left: 15px;
}

.homeListProduct .shadowBox {
  background: transparent;
  box-shadow: 0 0 20px -6px #a0a0a0;
}

.homeListProduct .flex-product-list {
  display: flex;
  flex-direction: column;
}

.homeListProduct .flex-product-list .container-flex-product {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.homeListProduct .flex-product-list .container-flex-product .flex-product {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.homeListProduct .flex-product-list .flex-product + .flex-product {
  margin-left: 30px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 !important;
}

.un {
  display: flex;
  justify-content: center;
}

.un span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  text-shadow: #00000078 3px 2px 3px;
}

.deuxAUn {
  display: flex;
  justify-content: center;
  background: #E8A3C0;
}

.deuxAUn span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.deuxADeux {
  display: flex;
  justify-content: center;
  background: #8CEFCA;
}

.deuxADeux span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.deuxBUn {
  display: flex;
  justify-content: center;
  background: #8DDDF6;
}

.deuxBUn span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.deuxBDeux {
  display: flex;
  justify-content: center;
  background: #F75857;
}

.deuxBDeux span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.trois {
  display: flex;
  justify-content: center;
  background: #F6A54C;
}

.trois span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  text-shadow: #00000078 3px 2px 3px;
}

.label-icon {
  vertical-align: bottom;
  color: #4ba593 !important;
  padding-right: 5px;
}

.btn-add {
  height: 45px;
  background-color: #4ba593 !important;
}

.btn-add:hover {
  background: #4ba593 !important;
}

.remove-icon {
  color: #d84949 !important;
}

li.see-more a span {
  text-align: center;
  width: 100%;
  margin: 0 !important;
  color: #009688 !important;
}

li.see-more a:before {
  display: none;
}

li.see-more a:after {
  display: none;
}

li.see-more ul li a {
  padding-left: 25px !important;
}

li.see-more ul li a span {
  text-align: inherit;
  font-weight: bold !important;
  color: inherit !important;
}

.video-home {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 300px !important;
  padding-bottom: 10px;
}

.video-home iframe {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.video-home:hover {
  -webkit-filter: none;
          filter: none;
}

.video-home:hover iframe {
  -webkit-filter: none;
          filter: none;
}

video.video-stream.html5-main-video {
  width: 100% !important;
  height: auto !important;
  left: 0 !important;
}

.title-client {
  padding-top: 15px;
  font-weight: bold;
  font-size: 25px;
}

.custom-footer {
  bottom: 0;
  width: 100%;
  line-height: 60px;
  text-align: center;
  background-color: #285A53;
  border-top: 5px solid #285852;
}

.actual-label {
  padding: 8px;
  margin-top: 1px;
}

#engagements {
  box-shadow: inset 0px -5px 50px -25px #333;
  background: #285A53;
  margin-bottom: 3px;
  border-top: 3px solid #419a8a;
  margin-top: 60px;
  border-bottom: 3px solid #419a8a;
}

.footer-copyright.text-center.py-3 {
  padding: 0 0 15px 0;
  width: auto;
  display: inline-block;
  margin: 0 15px;
}

* {
  box-sizing: border-box;
}

