
.icon-4l_trophy:before { content: '\e800'; } /* '' */
.icon-bleu_citron:before { content: '\e801'; } /* '' */
.icon-club_ambassadeur_sarthe:before { content: '\e802'; } /* '' */
.icon-club_elite_sarthe:before { content: '\e803'; } /* '' */
.icon-francebleu_maine:before { content: '\e804'; } /* '' */
.icon-la_tribu:before { content: '\e805'; } /* '' */
.icon-mouv:before { content: '\e807'; } /* '' */
.icon-nowadaysrecord:before { content: '\e808'; } /* '' */
.icon-ouestfrance:before { content: '\e809'; } /* '' */
.icon-public:before { content: '\e80a'; } /* '' */
.icon-scala_nightclub:before { content: '\e80c'; } /* '' */
.icon-sofar:before { content: '\e80d'; } /* '' */
.icon-sport_2000:before { content: '\e80e'; } /* '' */
.icon-superforma:before { content: '\e80f'; } /* '' */